.background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.listImage {
    margin: auto;
    display: block;
    max-height: 10em;
    max-width: 10em;
    padding: 1%;
}

.listItem {
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 1em;
    margin: auto;
    background-color: lightgray;
}

.catalogueBackground {
    margin: 1%;
    background-color: darkgrey;
    width: 20em;
    border: 2px solid lightgray;
    border-radius: 1em;
    padding: 4%;
    
}

.itemBackground {
    margin: 1em;
    background-color: lightgray;
    
    max-height: min-content;
    border: 2px solid lightgray;
    border-radius: 1em;
}

.itemBackground img {
    width: 90%;
    height: 90%;
    padding: 1%;
}

.imageContainer {
    padding: 5%;
    align-content: center;
    align-self: center;
}

.navigationArrow {
    height: 3em;
    margin: 1em;
    align-self: center;
    
}

.backNavigationArrow{
    height: 3em;
    margin: 1em;
    
}

.navigationContainer {
    display: flex;

}

.itemContainer {
    align-items: center;
    border: 2px solid gray;
    border-radius: 1em;
    margin: auto;
    background-color: gray;
    max-height: max-content;
}

.infoBackground {
    margin: 1em;
    background-color: darkgrey;
    padding: auto;
    max-height: min-content;
    border: 2px solid lightgray;
    border-radius: 1em;
}

.info {
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 1em;
    margin: auto;
    background-color: lightgray;
}

.infoImg {
    margin-top: 3%;
    padding: auto;
}

